
a, input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color: #444;
	font-size: 14px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #EEE;
	overflow-x: hidden;
}

/*reset*/
ul, dl, dt, dd, h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

/*小屏幕导航*/
.topnav {
	display: none;
	width: 100%;
	height: 50px;
	line-height: 1;
	margin-bottom: 10px;
	background-color: #FFF;
	overflow-x: auto;
	white-space: nowrap;

	-webkit-overflow-scrolling: touch;
}

.topnav ul {
	/*padding: 0 10px;*/
	border-bottom: 1px solid #CCC;
}

.topnav li {
	padding: 17px 0;
	display: inline-block;
}

.topnav li a {
	display: inline-block;
	padding: 0 10px 0 12px;
	color: #666;
	font-size: 14px;
	border-left: 1px solid #CCC;
}

.topnav li:first-child a {
	border-left: none;
}

.topnav li a.active {
	color: #FF5E52;
}

/*固定导航*/
.header {
	width: 190px;
	height: 100%;
	background-color: #FFF;
	position: fixed;
}

/*网站Logo*/
.header .logo {
	width: 100%;
	height: 120px;
	text-indent: -2000px;
	background: #FF5E52 url(../images/logo.png);
}

.header .logo a {
	display: block;
	height: 100%;
}

/*网站导航*/
.header .nav {
	font-size: 16px;
	border-bottom: 1px solid #EEE;
}

.header .nav a {
	display: block;
	padding: 12px 25px;
	color: #666;
}

.header .nav a:focus,
.header .nav a:hover {
	color: #444;
}

.header .nav a.active {
	color: #FF5E52;
}

.header .nav .glyphicon {
	width: 16px;
	height: 16px;
	margin-right: 12px;
}

.header .search {
	padding: 30px 15px 0;
}

.header .search form {
	overflow: hidden;
}

.header .search input {
	display: block;
	float: left;
	box-sizing: border-box;
}

.header .search .keys {
	width: 112px;
	height: 34px;
	color: #666;
	border: 1px solid #DDD;
	border-right: 0 none;
	padding: 5px 5px 5px 10px;
}

.header .search .keys:focus {
	outline: none;
	border-color: #CCC;
}

.header .search .btn {
	width: 48px;
	height: 34px;
	border: 0 none;
	color: #FFF;
	background-color: #FF5E52;
	opacity: .85;
}

.header .search .btn:hover {
	opacity: 1;
}

.header .feeds {
	line-height: 28px;
	padding: 15px 0 15px 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEE;
	background-color: #F9F9F9;
}

.header .feeds i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background-color: #F1B305;
	position: relative;
	top: 1px;
}

.header .feeds a {
	display: inline-block;
	font-size: 12px;
	color: #666;
}

.header .feeds a:hover {
	opacity: 1;
	color: #F1B305;
}

.header .slink {
	text-align: center;
	font-size: 12px;
}

.header .slink a {
	color: #999;
	text-decoration: none;
}

.header .slink a:hover {
	color: #666;
}

/*主体内容*/
.content {
	padding: 20px 25px 0;
	margin: 0 300px 0 190px;
}

/*焦点图*/
.content .slider {
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.content .slider ul {
	position: relative;
}

.content .slider li {
	overflow: hidden;
	position: relative;
}

.content .slider li span {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.7);
}

.content .cursor {
	position: absolute;
	right: 0;
	bottom: 15px;
	width: 200px;
	height: 10px;
	text-align: right;
	margin-right: 10px;
	font-size: 0;
}

.content .cursor span {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 3px;
	box-sizing: border-box;
	border: 1px solid #FFF;
	border-radius: 9px;
	cursor: pointer;
}

.content .cursor .active {
	background-color: #FFF;
}

.content .arrow {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin-top: -30px;
	color: #FFF;
	background-color: #000;
	opacity: 0.35;
	font-size: 20px;
	display: none;
}

.content .slider:hover .arrow {
	display: block;
}

.content .next {
	right: 0;
}

.content .arrow:hover {
	opacity: 0.7;
}

/*热门*/
.focus {
	margin-bottom: 10px;
}

.focus ul {
	padding-left: 50%;
	overflow: hidden;
}

.focus li.large {
	width: 100%;
	height: 266px;
	padding-left: 0;
	margin-left: -100%;
}

.focus li {
	width: 50%;
	height: 128px;
	padding-left: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	position: relative;
}

.focus li span {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 4px 10px 0;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	transition: all linear 0.5s;
}

.focus li:hover span {
	background-color: #FF5E52;
}

.focus li.large span {
	font-size: 16px;
	line-height: 32px;
}

.focus li.large:hover span {
	background-color: rgba(0, 0, 0, 0);
}

.focus li img {
	height: 100%;
}

/*资讯列表*/
.content .panel {
	padding: 20px 20px 0;
	background-color: #FFF;
	overflow: hidden;
}

.content .panel h3 {
	display: inline-block;
	line-height: 32px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #FF5E52;
}

.content .panel dl {
	position: relative;
	padding: 15px 0;
	clear: both;
}

.content .panel dt {
	height: 30px;
	line-height: 1;
	padding: 5px 0;
	margin: 8px 0 10px 0;
	box-sizing: border-box;
	font-size: 22px;
	color: #444;
}

.content .panel dt a {
	color: #444;
	transition: all 0.5s;
}

.content .panel dt a:hover {
	color: #FF5E52;
}

.content .panel dt .sort {
	position: relative;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	margin-right: 10px;
	float: left;
	color: #FFF;
	background-color: #FF5E52;
	font-size: 12px;
}

.content .panel dt .sort:after {
	display: block;
	position: absolute;
	top: 8px;
	right: -8px;
	content: '';
	border-width: 4px;
	border-style: solid;
	border-color: transparent transparent transparent #FF5E52;
}

.content .panel dd {
	overflow: hidden;
	margin-bottom: 8px;
}

.content .info {
	font-size: 12px;
	color: #999;
}

.content .brief {
	line-height: 22px;
	margin-top: 6px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #777;
}

.content .extra {
	font-size: 12px;
	color: #999;
}

.content .extra .glyphicon {
	width: 12px;
	height: 12px;
}

.content .extra > span,
.content .extra > a {
	margin-right: 20px;
}

.content .extra a {
	color: #999;
}

.content .extra .like:hover {
	color: #FF5E52;
}

.content .extra a span {
	text-decoration: underline;
}

.content .tags span:hover {
	color: #FF5E52;
}

/*单图*/
.content .single p {
	width: 70%;
	float: left;
	clear: both;
}

.content .single .thumb {
	display: block;
	width: 25%;
	margin-left: 5%;
	position: relative;
	overflow: hidden;
}

/*多图*/
.content .multi p {
	clear: both;
}

.content .multi .thumb {
	margin-top: 10px;
}

.content .multi .thumb a {
	display: block;
	text-align: justify;
	font-size: 0;
}

.content .multi .thumb a:after {
	display: inline-block;
	content: '';
	width: 24%;
}

.content .multi .thumb span {
	display: inline-block;
	width: 24%;
	position: relative;
}

/*遮罩特效*/
.content .multi .thumb span:after,
.content .single .thumb:after {
	display: inline-block;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.25s linear;
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

.content .single .thumb:after {
	left: 0;
	right: 0;
}

.content .multi .thumb span:hover:after,
.content .single .thumb:hover:after {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
}

/*一周热门排行*/
.content .top {
	margin-bottom: 20px;
}

.content .top dd {
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 15px;
}

.content .top dd i {
	display: inline-block;
	padding: 0 7px;
	font-size: 12px;
	font-style: normal;
	color: #FFF;
	background-color: #999;
}

.content .top dd:nth-child(1) i {
	background-color: #FD8C84;
}

.content .top dd:nth-child(2) i {
	background-color: #7FD75A;
}

.content .top dd:nth-child(3) i {
	background-color: #60C4FD
}

.content .top a {
	color: #444;
}

.content .top a:hover {
	color: #FF5E52;
}

.content .top span,
.content .top .like {
	color: #999;
	float: right;
	line-height: 14px;
	font-size: 12px;
}

.content .top span {
	margin-right: 20px;
}

/*热门推荐*/
.content .hots {
	margin-bottom: 10px;
}

.content .hots dd {
	text-align: justify;
	font-size: 0;
	margin-bottom: 0;
}

.content .hots dd:after {
	display: inline-block;
	width: 24%;
	content: '';
}

.content .hots dd a {
	display: inline-block;
	width: 24%;
	line-height: 1.4;
	font-size: 14px;
	overflow: hidden;
	color: #666;
}

.content .hots dd a:hover {
	color: #FF5E52;
}

.content .hots dd img {
	height: 132px;
	margin-bottom: 5px;
}

.content .hots dd span {
	display: inline-block;
	height: 40px;
	overflow: hidden;
}

/*最新发布*/
.content .new dl:after,
.content .sort dl:after {
	content: '';
	width: 110%;
	margin: 0 -20px;
	border-bottom: 1px solid #EEE;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*内容页*/
.content .article {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #FFF;
}

.content .breadcrumb dt,
.content .breadcrumb dd {
	display: inline-block;
	color: #999;
}

.content .breadcrumb dd + dd:before {
    padding: 0 5px;
    content: ">";
}

.content .breadcrumb a {
	color: #666;
}

.content .breadcrumb a:hover {
	color: #FF5E52;
}

.content .article .title {
	line-height: 1;
	margin: 20px 0 15px;
}

.content .article .title a {
	color: #444;
	font-size: 22px;
}

.content .article .meta {
	color: #999;
	font-size: 12px;
	padding: 0 20px 20px;
	margin: 0 -20px;
	border-bottom: 1px solid #EEE;
}

.content .article .meta span {
	margin-right: 15px;
}

.content .article .meta a {
	color: #999;
	text-decoration: underline;
}

.content .article .meta a:hover {
	color: #FF5E52;
}

/*侧边栏*/
.aside {
	width: 300px;
	margin-top: 20px;
	float: right;
}

.aside .theme {
	padding: 0 15px 15px;
	background-color: #FFF;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.aside .theme:hover {
	border: 1px solid #FF5E52;
}

.aside .theme a {
	display: block;
	overflow: hidden;
}

.aside .theme h4 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #FF5E52;
}

.aside .theme p {
	line-height: 1.5;
	font-size: 12px;
	color: #999;
}

.aside .theme .tag {
	display: inline-block;
	padding: 4px 15px;
	font-size: 14px;
	color: #FFF;
	background-color: #FF5E52;
}

.aside .widgets {
	padding: 15px 20px;
	margin-top: 20px;
	background-color: #FFF;
	overflow: hidden;
}

.aside .widgets h4 {
	font-size: 20px;
	border-bottom: 2px solid #FF5E52;
	float: left;
}

.aside .widgets .body {
	clear: both;
}

/*搜索*/
.aside .search {
	padding-top: 10px;
}
.aside .search form {
	height: 34px;
	position: relative;
	padding-right: 70px;
}

.aside .search input {
	display: block;
	height: 100%;
	padding: 5px 5px 5px 10px;
	box-sizing: border-box;
	color: #666;
}

.aside .search .keys {
	width: 100%;
	border: 2px solid #DDD;
	border-right: 0 none;
	outline: none;
	float: left;
}

.aside .search .btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	text-align: center;
	color: #FFF;
	border: 0 none;
	background-color: #FF5E52;
	opacity: 0.85;
}

.aside .search .btn:hover {
	opacity: 1;
}

/*随机推荐*/
.aside .random li {
	height: 60px;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
}

.aside .random p {
	float: left;
	clear: both;
	line-height: 20px;
}

.aside .random .title {
	width: 160px;
	font-size: 14px;
	color: #444;
}

.aside .random .reading {
	font-size: 12px;
	color: #999;
}

.aside .random .pic {
	width: 80px;
	height: 100%;
	padding-left: 180px;
}

.aside .random li:hover {
	background-color: #F8FCFE;
}

.aside .random li:hover .title {
	color: #FF5E52;
}

/*最新评论*/
.aside .discuz li {
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
}

.aside .discuz li:hover {
	background-color: #FBFBFB;
}

.aside .discuz li > a {
	display: block;
}

.aside .discuz .avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
}

.aside .discuz .txt {
	height: 40px;
	line-height: 20px;
	padding-left: 50px;
	font-size: 12px;
	color: #999;
}

.aside .discuz .txt span {
	color: #666;
	margin-right: 5px;
}

/*热门标签*/
.aside .tags {
	padding-top: 10px;
	font-size: 12px;
}

.aside .tags li {
	width: 33.3333%;
	margin-top: 2px;
	float: left;
}

.aside .tags a {
	display: block;
	height: 28px;
	line-height: 20px;
	padding: 4px 8px;
	margin-right: 6px;
	border-left: 1px solid #ededed;
	background-color: #FAFAFA;
	box-sizing: border-box;
	color: #777;
	transition: all 0.2s linear;
}

.aside .tags li:nth-child(3n) a {
	margin-right: 0;
}

.aside .tags a:hover {
	color: #FFF;
	border-left: 4px solid #FED426;
	background-color: #FF5E52;
}

/*底部*/
.footer {
	clear: both;
	text-align: left;
	padding: 20px 0 30px;
	margin-left: 215px;
	font-size: 12px;
	color: #AAA;
}
